@model List<ManageRolesViewModel>



<form method="post" asp-route-userId="@ViewBag.userId">
    <div class="card">
        <div class="card-header">
            <h2>Update Users In This Role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model[i].RoleId" />
                                <input type="hidden" asp-for="@Model[i].RoleName" />
                                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                <label asp-for="@Model[i].IsSelected" class="form-check-label">
                        @Model[i].RoleName
                                </label>
                            </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary w-auto">SaveChanges</button>
        </div>
    </div>
</form>